    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Registration Confirmation</title>
    </head>
<!--        <body>-->
<!--        <form action='/confirmation' method="post">-->
<!--             <label for="name">Name:</label>-->
<!--                    <input type="text" id="name" name="name" required>-->
<!--                    <br><br>-->

<!--                    &lt;!&ndash; Email Field &ndash;&gt;-->
<!--                    <label for="email">Email:</label>-->
<!--                    <input type="text" id="email" name="email" required>-->
<!--                    <br><br>-->

<!--                    &lt;!&ndash; Phone Number Field &ndash;&gt;-->
<!--                    <label for="phone">Phone Number:</label>-->
<!--                    <input type="text" id="phone" name="phone" required>-->
<!--                    <br><br>-->
<!--            </form>-->
<!--        </body>-->
    </html>